http://0.0.0.0, https://0.0.0.0 {
  tls /etc/caddy/cert.pem /etc/caddy/key.pem

  gzip
  log /cache/logs/access.log

  proxy  / 127.0.0.1:7000 {
    transparent
    without /
  }
  header / Access-Control-Allow-Origin *
}

